#container{
    position: relative;
}

.cards{
    width: 250px;
    height: 400px;
    border: 2px solid grey;
    border-radius: 10px;
    background-color: white;
    position: relative;
}

.top{
    position: absolute;
    font-size: 25px;
    font-weight: bold;
    left: 10px;
    top: 10px;
}

.botom{
    position: absolute;
    font-size: 25px;
    font-weight: bold;
    right: 10px;
    bottom: 10px;
}

.center{
    position: absolute;
    font-size: 250px;
    font-weight: bold;
    top: 50px;
    left: 60px;
}

#eight {
    position: absolute;
    top: 130px;
    left: 140px;
}
#nine {
    position: absolute;
    top: 260px;
    left: 280px;
}