#container {
    width: 400px;
    height: 300px;
    background-color: red;
    border-radius: 5px 5px 10px 10px;
    position: relative;
}

#white {
    width: 220px;
    height: 210px; 
    background-color: white;
    position: absolute;
    left: 88px;
    border-radius: 0 0 10px 10px;
}

.grey{
    background-color: grey;
    height: 80px;
    border: 2px solid grey;
    border-radius: 5px 5px 0px 0px;
    position: absolute;
}

#greyOne{
    width: 85px;
}

#greyTwo{
    width: 89px;
    right: 0;
}